# Imports & Data

In [37]:
import aocd
import itertools
import re

#data = """11-22,95-115,998-1012,1188511880-1188511890,222220-222224,
#1698522-1698528,446443-446449,38593856-38593862,565653-565659,
#824824821-824824827,2121212118-2121212124"""

data = aocd.get_data(day=2, year=2025)

#data = data.splitlines()
data = data.split(",")
print(data)

['96952600-96977512', '6599102-6745632', '32748217-32835067', '561562-594935', '3434310838-3434398545', '150-257', '864469-909426', '677627997-677711085', '85-120', '2-19', '3081-5416', '34-77', '35837999-36004545', '598895-706186', '491462157-491543875', '5568703-5723454', '6262530705-6262670240', '8849400-8930122', '385535-477512', '730193-852501', '577-1317', '69628781-69809331', '2271285646-2271342060', '282-487', '1716-2824', '967913879-967997665', '22-33', '5722-11418', '162057-325173', '6666660033-6666677850', '67640049-67720478', '355185-381658', '101543-146174', '24562-55394', '59942-93946', '967864-1031782']

# Part 1

--- Day 2: Gift Shop ---

You get inside and take the elevator to its only other stop: the gift shop. "Thank you for visiting the North Pole!" gleefully exclaims a nearby sign. You aren't sure who is even allowed to visit the North Pole, but you know you can access the lobby through here, and from there you can access the rest of the North Pole base.

As you make your way through the surprisingly extensive selection, one of the clerks recognizes you and asks for your help.

As it turns out, one of the younger Elves was playing on a gift shop computer and managed to add a whole bunch of invalid product IDs to their gift shop database! Surely, it would be no trouble for you to identify the invalid product IDs for them, right?

They've even checked most of the product ID ranges already; they only have a few product ID ranges (your puzzle input) that you'll need to check. For example:

11-22,95-115,998-1012,1188511880-1188511890,222220-222224,
1698522-1698528,446443-446449,38593856-38593862,565653-565659,
824824821-824824827,2121212118-2121212124
(The ID ranges are wrapped here for legibility; in your input, they appear on a single long line.)

The ranges are separated by commas (,); each range gives its first ID and last ID separated by a dash (-).

Since the young Elf was just doing silly patterns, you can find the invalid IDs by looking for any ID which is made only of some sequence of digits repeated twice. So, 55 (5 twice), 6464 (64 twice), and 123123 (123 twice) would all be invalid IDs.

None of the numbers have leading zeroes; 0101 isn't an ID at all. (101 is a valid ID that you would ignore.)

Your job is to find all of the invalid IDs that appear in the given ranges. In the above example:

11-22 has two invalid IDs, 11 and 22.
95-115 has one invalid ID, 99.
998-1012 has one invalid ID, 1010.
1188511880-1188511890 has one invalid ID, 1188511885.
222220-222224 has one invalid ID, 222222.
1698522-1698528 contains no invalid IDs.
446443-446449 has one invalid ID, 446446.
38593856-38593862 has one invalid ID, 38593859.
The rest of the ranges contain no invalid IDs.
Adding up all the invalid IDs in this example produces 1227775554.

What do you get if you add up all of the invalid IDs?

In [32]:
result = 0

for i in data:
    start, end = i.split("-")
    #build list of all containing numbers
    numbers = list(range(int(start), int(end)+1))

    for number in numbers:
        if (bool(re.fullmatch(r"(.+)\1", str(number)))) == True:#
            result += number

print("Part 1: ", result)

Part 1:  28146997880

# Part 2

--- Part Two ---

The clerk quickly discovers that there are still invalid IDs in the ranges in your list. Maybe the young Elf was doing other silly patterns as well?

Now, an ID is invalid if it is made only of some sequence of digits repeated at least twice. So, 12341234 (1234 two times), 123123123 (123 three times), 1212121212 (12 five times), and 1111111 (1 seven times) are all invalid IDs.

From the same example as before:

11-22 still has two invalid IDs, 11 and 22.
95-115 now has two invalid IDs, 99 and 111.
998-1012 now has two invalid IDs, 999 and 1010.
1188511880-1188511890 still has one invalid ID, 1188511885.
222220-222224 still has one invalid ID, 222222.
1698522-1698528 still contains no invalid IDs.
446443-446449 still has one invalid ID, 446446.
38593856-38593862 still has one invalid ID, 38593859.
565653-565659 now has one invalid ID, 565656.
824824821-824824827 now has one invalid ID, 824824824.
2121212118-2121212124 now has one invalid ID, 2121212121.
Adding up all the invalid IDs in this example produces 4174379265.

What do you get if you add up all of the invalid IDs using these new rules?

In [38]:
result = 0

for i in data:
    start, end = i.split("-")
    #build list of all containing numbers
    numbers = list(range(int(start), int(end)+1))
    
    for number in numbers:
        if (bool(re.fullmatch(r"(.+)\1{1,}", str(number)))) == True:
            result += number

print("Part 2: ", result)

Part 2:  40028128307